@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --font: "JetBrains Mono", serif;
    --font-size: 14px;
    --font-color: gray;
    --accent-color: #681fd3;
    --accent-color-light: #7322ed96;
}

.body {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-image: url(bg.jpg); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.terminal-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.terminal {
    background-color: black;
    height: auto;
    margin: 0;
    padding: 13px;
    border-radius: 10px;
    position: relative;
}

.terminal::after, .terminal::before {
    --angle: 0deg;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 13px;
    background-image: conic-gradient(from var(--angle), transparent, transparent, var(--accent-color));
    animation: terminal-outline 20s linear infinite;
}

.terminal::before {
    filter: blur(40px);
    opacity: 0.5;
}

@keyframes terminal-outline {
    from {
        --angle: 0deg
    }
    to {
        --angle: 360deg
    }
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                     Text                                       │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.terminal-text-body {
    font-family: var(--font);
    font-size: var(--font-size);
    display: block;
    list-style: none;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.terminal-text-body > p {
    display: inline-block;
    margin: 0px;
    padding: 0;
}

.terminal-text-body a {
    display: inline-block;
    margin: 0px;
    padding: 0;
    color: var(--font-color);
}

.terminal-text-body a:hover {
    color: rgb(193, 193, 193);
}

.terminal-text-body > h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline;
    color: var(--accent-color);
    font-weight: bold;
}

.leading-break {
    margin-top: var(--font-size) !important;
}

.cursor {
    animation: fade 1s infinite;
}

@keyframes fade {

    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                    Spalten                                     │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.terminal-columns {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    list-style: none;
    gap: 20px;
}

.terminal-columns > li {
    flex-shrink: 0;
    width: auto;
}

#avatar {
    margin: 10px;
    width: 160px;
    border-radius: 3px;
}

#discord-banner {
    z-index: -1;
    margin: -5px;
    height: 130px;
    border-radius: 3px;
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                               Mobile Overrides                                 │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

@media (max-width: 720px), (max-aspect-ratio: 1/1) {
    
    .terminal-wrapper {
        width: 95vw;
        margin: auto;
    }

    .terminal-text-body {
        font-size: 12px;
    }

    #avatar {
        margin: 5px;
        width: 200px;
    }

    .terminal-columns {
        flex-direction: column;
        gap: 0px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .pgp-wrapper {
        justify-content: center;
        align-items: center;
    }
}