@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --font: "JetBrains Mono", serif;
    --font-size: 14px;
    --font-color: gray;
    --accent-color: #681fd3;
    --accent-color-light: #7322ed96;
}

.body {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-image: url(bg.jpg); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.terminal-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.terminal {
    background-color: black;
    height: auto;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    animation: terminal-outline 3.5s infinite;
}

@keyframes terminal-outline {
    0%, 100% {
        box-shadow: 0 0 2px 2px var(--accent-color);
    }

    50% {
        box-shadow: 0 0 2px 2px var(--accent-color-light);
    }}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                     Text                                       │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.terminal-text-body {
    font-family: var(--font);
    font-size: var(--font-size);
    display: block;
    list-style: none;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.terminal-text-body > p {
    display: inline-block;
    margin: 0px;
    padding: 0;
}

.terminal-text-body a {
    display: inline-block;
    margin: 0px;
    padding: 0;
    color: var(--font-color);
}

.terminal-text-body a:hover {
    color: rgb(193, 193, 193);
}

.terminal-text-body > h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline;
    color: var(--accent-color);
    font-weight: bold;
}

.leading-break {
    margin-top: var(--font-size) !important;
}

.cursor {
    animation: fade 1s infinite;
}

@keyframes fade {

    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                    Spalten                                     │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.terminal-columns {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    list-style: none;
    gap: 20px;
}

.terminal-columns > li {
    flex-shrink: 0;
    width: auto;
}

.terminal-columns img {
    margin: 10px;
    width: 100%;
    max-width: 15vw;
    border-radius: 3px;
}

#discord-banner {
    margin: 10px;
    width: 100%;
    max-width: 25vw;
    border-radius: 3px;
}

@media (max-width: 768px) and (orientation: portrait) {
    .body {
        height: 90vh;
    }

    .terminal-wrapper {
        width: 95vw;
    }

    .terminal-text-body {
        font-size: 12px;
    }

    .terminal-columns {
        flex-direction: column;
    }

    .terminal-columns {
        gap: 0px;
    }

    .terminal-columns img {
        margin: 0px;
        max-width: 30vw;
    }

    .pgp-wrapper {
        justify-content: center;
        align-items: center;
    }
}