@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --font: "JetBrains Mono", serif;
    --font-size: 14px;
    --font-color: gray;
    --accent-color: #681fd3;
}

.body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.terminal-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
}

.terminal {
    background-color: black;
    min-width: 800px;
    height: auto;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px var(--accent-color);
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                     Text                                       │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.terminal-text-body {
    font-family: var(--font);
    font-size: var(--font-size);
    display: block;
    list-style: none;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

.terminal-text-body > p {
    display: inline-block;
    margin: 0px;
    padding: 0;
}

.terminal-text-body a {
    display: inline-block;
    margin: 0px;
    padding: 0;
    color: gray;
}

.terminal-text-body > h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline;
    color: var(--accent-color);
    font-weight: bold;
}

.cursor {
    animation: fade 1s infinite;
}

@keyframes fade {

    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                    Spalten                                     │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.terminal-columns {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style: none;
    gap: 20px;
}

.terminal-columns > li {
    flex-shrink: 0;
    width: auto;
}

.terminal-columns img {
    margin: 10px;
    width: 100%;
    max-width: 30vh;
}